@tailwind base;
@tailwind components;
@tailwind utilities;

/* PPMori Fonts */
@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-Extralight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-ExtralightItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* PPEditorialNew Fonts */

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-Ultrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-UltraboldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-UltralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

#cycle:after {
  animation-name:cycle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  content: "";
}



@keyframes cycle {
  0% {
    content: "sunscreen";
  }
  12.5% {
    content: "moisturiser";
  }
  25% {
    content: "lipstick";
  }
  37.5% {
    content: "retinol";
  }
  50% {
    content: "cleanser";
  }
  62.5% {
    content: "foundation";
  }
  75% {
    content: "lip balm";
  }
  87.5% {
    content: "concealer";
  }
  100% {
    content: "sunscreen";
  }
} 